<div id="playTuneWrapper">
    <div class="card bg-danger border-primary" style="max-width: 22rem; border-radius: 0;">
      <div class="card-body">
        {% if selected_tune %}
        <h5 class = "card-title">You should play</h5>
          <div class="my-1">
            <p class="h4 text-info-emphasis my-4"><strong>{{selected_tune.tune.title}}</strong></p>
          </div>
          <div class="btn-group my-1">
            <button type="button"
            class="btn btn-outline-info" disabled
            hx-put="{% url 'tune:play_play' pk=selected_tune.id %}"
            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
            hx-swap="outerHTML"
            hx-target="#playTuneWrapper">
            <i>Play</i>
            </button>
          <div id="second-button">
            <button id="one-more"
            type="button"
            class="btn btn-success"
            hx-get="{% url 'tune:change_tune' %}"
            hx-target="#playTuneWrapper">
            One more!</button>
          </div>
          </div>
      </div>
    </div>
  </div>
  
    {% else %}
      <p><strong>No tunes to play</strong></p>
    {% endif %}
  </div>


