<form method="post" action="{% url 'tune:set_knowledge' pk=tune.pk %}" class="row" hx-swap="outerHTML" hx-trigger="submit" id="rep_form">
    {% csrf_token %}

    {% for field in rep_form %}
    <div class="mb-3 mx-auto">
        <p>
            <p>{{ field.label_tag }}</p>
            {{ field }}
            {{ field.errors }}
        </p>
      </div>
    {% endfor %}
    <div class="d-grid gap-2 mx-auto">
    <input class="btn btn-success btn-sm"
            type="submit"
            value="Set"
            hx-target="#rep_form"
            hx-trigger="click"
            hx-post="{% url 'tune:set_knowledge' pk=new_rep_tune.id %}"
            hx-swap="outerHTML"
            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    </div>
</form>
 <!-- <form method="post" action="{% url 'tune:set_knowledge' pk=tune.pk %}">
    {% csrf_token %}
    <input class="btn btn-success btn-sm" type="submit" value="Set">
</form> -->
