<div id="playTuneWrapper">
  <div class="card bg-danger border-primary" style="height: 200px; max-width: 18rem; border-radius: 0;">
    <div class="card-body">
      {% if selected_tune %}
        <h5 class = "card-title">You should play</h5>
        <div class="my-1">
        <p class="h4 text-info-emphasis my-4"><strong>{{selected_tune.tune.title}}</strong></p>
        </div>
        
        <div class="my-1">
          <button type="button"
          class="btn btn-outline-info"
          hx-put="{% url 'tune:play' pk=selected_tune.id %}"
          hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
          hx-swap="outerHTML"
        >Play</button>
        <button type="button" class="btn btn-outline-dark " hx-get="{% url 'tune:change_tune' %}" hx-target="#playTuneWrapper">No thanks...</button>
    
        </div>
    </div>
  </div>

  {% else %}
    <p><strong>No tunes to play</strong></p>
  {% endif %}
</div>
