<div id="playTuneWrapper">

  {% if selected_tune %}
    <p>You should play <strong>{{selected_tune.tune.title}}</strong></p>

    <button type="button"
      class="btn btn-warning"
      hx-put="{% url 'tune:play' pk=selected_tune.id %}"
      hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
      hx-swap="outerHTML"
    >Play</button>
    <button type="button" class="btn btn-secondary " hx-get="{% url 'tune:change_tune' %}" hx-target="#playTuneWrapper">Next</button>


  {% else %}
    <p><strong>No tunes to play</strong></p>
  {% endif %}

</div>
