{% extends 'base.html' %}

{% block head_title %}Public Tunes{% endblock %}

{% block content %}

<div class ="mt-4">
    <p>
        Here you can browse public tunes and copy them into your repertoire.
    </p>
  </div>
  <div class="card bg-success-subtle border-primary" style="max-width: 18rem; border-radius: 0;">
    <div class="card-body">
        <h5 class = "card-title">Tune Search</h5>
            <div>
                <form method="post" action="{% url 'tune:tune_list' %}">
                    {% csrf_token %}
                    <label for="basic_search"></label>
                    <input id="search_term" type="text" name="search_term" class="ms-0 ps-0">
            </div>
        <div class="col-1 my-3">
            <input class="btn btn-primary" type="submit" value="Search">
        </div>
        </form>
    </div>
</div>

<div class="row mt-4 align-items-end justify-content-evenly">
    <div class="col-10">
        <h1
            class="text-info-emphasis">Public Tunes
        </h1>
    </div>
    <div class="col-2" style="text-align: right;" id="count" hx-get="/count" hx-trigger="tuneDeleted from:body" hx-swap="outerHTML">
        <h4>
            {% if tune_count == 1 %}
            {{ tune_count }} tune
            {% else %}
            {{ tune_count }} tunes
            {% endif %}
        </h4>
    </div>
</div>

<div>
    <table class="table table-success table-striped table-hover border border-primary" id="public-table">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Composer</th>
                <th scope="col">Key</th>
                <th scope="col">Other Keys</th>
                <th scope="col">Form</th>
                <th scope="col">Style</th>
                <th scope="col">Meter</th>
                <th scope="col">Year</th>
                <!-- <th>Tags</th> -->
                <th scope="col">Actions</th>
            </tr>
        </thead>
    <tbody>
    {% for tune in tunes %}
    <tr>
        <td class="w-auto">{{ tune.tune.title }}</td>
        <td class="w-auto">{{ tune.tune.composer }}</td>
        <td class="w-auto">{{ tune.tune.key }}</td>
        <td class="w-auto">{{ tune.tune.other_keys }}</td>
        <td class="w-auto">{{ tune.tune.song_form }}</td>
        <td class="w-auto">{{ tune.tune.style }}</td>
        <td class="w-auto">{{ tune.tune.meter }}</td>
        <td class="w-auto">{{ tune.tune.year }}</td>
        <!-- <td>{{ tune.tune.tags }}</td> -->
        <td class="w-auto">
          {% if tune.tune.title in user_tune_titles %}
            <button type="button" class="btn btn-outline-dark btn-sm" disabled>Take</button>
          {% else %}
          <button type="button"
                    class="btn btn-success btn-sm"
                    hx-put="{% url 'tune:tune_take' pk=tune.id %}"
                    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                    hx-swap="outerHTML"
                >Take</button>
          {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
    <script>
        $(document).ready( function () {
            $('#public-table').DataTable({
                "searching": false,
                "info": false,
                "lengthChange": false,
                "paging": false
            }
            );
        });
        </script>
{% endblock %}
