{% extends 'base.html' %}

{% block content %}
<div class ="mt-4">
  <p>
      This is the form for adding a new tune or editing an existing one.
  </p>
</div>
  <h3>{% if tune %}Edit{% else %}New{% endif %} Tune</h3>
  <form method="post">
    {% csrf_token %}

    {% for field in tune_form %}
        <div class="mb-3">
            <p>{{ field.label_tag }}</p>
            {{ field }}
            {{ field.errors }}
            {% if field.help_text %}
              <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>
    {% endfor %}
    {% for field in rep_form %}
    <div class="mb-3">
        <p>
            <p>{{ field.label_tag }}</p>
            {{ field }}
            {{ field.errors }}
        </p>
      </div>
    {% endfor %}
    <input type="submit" class="btn btn-success" value="{% if tune %}Save{% else %}Create{% endif %}" />
  </form>

{% endblock %}