{% extends 'base.html' %}

{% block title %}Tunes{% endblock %}

{% block content %}
<div class="row mt-4">
<div class ="col-8">
    <p>
        Here you can browse your repertoire and add, edit, and delete tunes.
    </p>
</div>
<div class="col-4">
   
</div>
</div>
<div class="row">
    <div class="col-4 my-1">
        <form method="post" action="{% url 'tune:tune_list' %}">
            {% csrf_token %}
            <label for="basic_search">Basic search: </label>
            <input id="search_term" type="text" name="search_term">
    </div>
<div class="col-12 my-2">
<label for="timespan">Haven't played in:</label>
    <select id="timespan" name="timespan">
        <option value="anytime">n/a</option>
        <option value="day">a day</option>
        <option value="week">a week</option>
        <option value="month">a month</option>
    </select>
</div>
<div class="col-1 my-1">
    <input class="btn btn-primary" type="submit" value="Search">
</div>
<div class="col-1 my-1">
    <form method="post" action="{% url 'tune:tune_new' %}">
        {% csrf_token %}
        <input class="btn btn-success" type="submit" value="New Tune">
    </form>
</div>
</form>
</div>


    <h1>Tunes</h1>
    <div class="tune">
        <table class="table table-success table-striped table-hover border border-primary-subtle ">
            <tr>
                <thead>
                    <th>Title</th>
                    <th>Composer</th>
                    <th>Key</th>
                    <th>Other Keys</th>
                    <th>Form</th>
                    <th>Style</th>
                    <th>Meter</th>
                    <th>Year</th>
                    <th>Knowledge</th>
                    <th>Actions</th>
                </thead>
            </tr>
        {% for tune in tunes %}
        <tr>
            <td>{{ tune.tune.title }}</td>
            <td>{{ tune.tune.composer }}</td>
            <td>{{ tune.tune.key }}</td>
            <td>{{ tune.tune.other_keys }}</td>
            <td>{{ tune.tune.song_form }}</td>
            <td>{{ tune.tune.style }}</td>
            <td>{{ tune.tune.meter }}</td>
            <td>{{ tune.tune.year }}</td>
            <td>{{ tune.knowledge }}</td>
            <td>
                <div class="btn-group-vertical">
                    <form method="post" action="{% url 'tune:tune_delete' pk=tune.tune.pk %}">
                    {% csrf_token %}
                    <input class="btn btn-danger btn-sm" type="submit" value="Delete">
                    </form>
                    <a class="btn btn-warning btn-sm" href="{% url 'tune:tune_edit' pk=tune.tune.pk %}" role="button">Edit</a>
                    <button type="button"
                    class="btn btn-primary btn-sm"
                    hx-put="{% url 'tune:play' pk=tune.id %}"
                    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                    hx-swap="outerHTML"
                >Play</button>
                </div>
            </td>
        </tr>
        {% endfor %}
        </table>
        </div>
{% endblock %}
