{% extends 'base.html' %}

{% block head_title %}Play{% endblock %}

{% block content %}
<div class="row mt-4">
  <div class ="col">
      <p>
          Here you can get a suggestion of a tune to play taken from your search results.
      </p>
  </div>
</div>


<div class="row g-0">
  <div class="col-md-3">
    <div class="card bg-success-subtle border-primary" style="height: 200px; max-width: 18rem; border-radius: 0;">
      <div class="card-body">
        <h5 class="card-title">Tune Search</h5>
        <div>
          <form method="post" hx-post="{% url 'tune:get_random_tune' %}" hx-target="#tunes" hx-trigger="submit" hx-indicator=".htmx-indicator">
            {% csrf_token %}
            <label for="searchField"></label>
            <input type="text" name="search_term" class="ms-0 ps-0" id="searchField">
        </div>
        <div class="col-12 my-2">
          <label for="timespan">Haven't played in:</label>
          <select id="timespan" name="timespan">
            <option value="anytime">n/a</option>
            <option value="day">a day</option>
            <option value="week">a week</option>
            <option value="month">a month</option>
            <option value="two_months">2 months</option>
            <option value="three_months">3 months</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
        </form>
      </div>
    </div>
  </div>
  <div id="tunes" class="col-md-6">
  </div>
</div>
{% endblock %}
