asgiref
asttokens
attrs
awsebcli
blessed
botocore
build
cattrs
cement
certifi
cffi
cfgv
charset-normalizer
cli-helpers
click
colorama
configobj
coverage
cryptography
decorator
defusedxml
distlib
dj-database-url
Django
django-allauth
django-debug-toolbar
executing
filelock
identify
idna
ipdb
ipython
jedi
jmespath
markdown-it-py
matplotlib-inline
mdurl
nodeenv
oauthlib
packaging
parso
pexpect
pgspecial
pip-tools
platformdirs
pluggy
pre-commit
prompt-toolkit
psycopg2
ptyprocess
pure-eval
pybites_search
pycparser
Pygments
PyJWT
pyproject_hooks
pytest
pytest-cov
pytest-django
python-dateutil
python-decouple
python3-openid
pytzdata
PyYAML
requests
requests-cache
requests-oauthlib
rich
ruff
semantic-version
sentry-sdk
setproctitle
shellingham
six
sqlparse
stack-data
tabulate
termcolor
traitlets
typer
typing_extensions
url-normalize
urllib3
virtualenv
wcwidth
whitenoise
gunicorn
django-bootstrap5
