<div id="playTuneWrapper">
  <div class="bg-indigo-100 border border-indigo-400 p-4 max-w-sm h-full flex flex-col">
    <div class="flex-1 flex flex-col">
      {% if selected_tune %}
      <h5 class="text-lg font-semibold mb-3">You should play...</h5>
        <div class="flex-1 flex flex-col justify-center">
          <p class="text-2xl text-blue-900 my-4 font-bold text-center">{{selected_tune.tune.title}}</p>
        </div>
        <div class="flex gap-1 mt-auto">
          <button type="button"
            class="bg-blue-900 text-white px-4 py-2 disabled:opacity-50" disabled
            hx-put="{% url 'tune:play_play' pk=selected_tune.id %}"
            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
            hx-swap="outerHTML"
            hx-target="#playTuneWrapper">
            <i>Play</i>
            </button>
        <div id="second-button">
          <button id="one-more"
            type="button"
            class="bg-blue-900 hover:bg-blue-700 text-white px-4 py-2"
            hx-get="{% url 'tune:change_tune' %}"
            hx-swap="outerHTML"
            hx-target="#playTuneWrapper">
            One more!</button>
        </div>
        </div>
    </div>
  </div>
</div>

  {% else %}
    <div class="bg-indigo-100 border border-indigo-400 p-4 max-w-sm h-full flex flex-col justify-center">
      <h5 class="text-lg font-semibold mb-3 text-center">No more matching tunes...</h5>
      <p class="text-xl text-blue-900 my-5 font-bold text-center">Try another search?</p>
    </div>
  {% endif %}
</div>