<form method="post" action="{% url 'tune:set_rep_fields' pk=tune.pk %}" class="flex flex-col" hx-swap="outerHTML" hx-trigger="submit" id="rep_form">
  <div class="flex flex-wrap -mx-2">
    {% csrf_token %}
    {% for field in rep_form %}
      <div class="w-full px-2 mb-4">
        <p class="block text-sm font-semibold text-gray-900 mb-1">{{ field.label }}</p>
        {{ field }}
        {% if field.errors %}
          <div class="text-red-600 text-sm mt-1">
            {{ field.errors }}
          </div>
        {% endif %}
        {% if field.help_text %}
          <p class="text-gray-500 text-sm mt-1">{{ field.help_text|safe }}</p>
        {% endif %}
      </div>
    {% endfor %}
    <div class="w-full px-2 mt-4">
      <input class="blue-button bg-blue-900 text-white px-4 py-2 hover:bg-blue-700 cursor-pointer"
              type="submit"
              value="Set"
              hx-target="#rep_form"
              hx-trigger="click"
              hx-post="{% url 'tune:set_rep_fields' pk=new_rep_tune.id %}"
              hx-swap="outerHTML"
              hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    </div>
  </div>
</form>