{% extends "base.html" %}
{% load i18n %}
{% load allauth account %}
{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}
{% block content %}
    <div class="row my-3">
        <div class="col-6">
        <div class="card bg-success-subtle border-primary"
        style="
        border-radius: 0;
        ">
            <div class="card-body">
                <h3 class = "card-title">Welcome!</h3>
                <p class="card-text">Jazztunes is a jazz repertoire management app that runs in your browser.</p>
                <p class="card-text">It is free to use, modify, and distribute.</p>
                {% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
    </p>
    {% url 'account_login' as login_url %}
    {% element form form=form method="post" action=login_url tags="entrance,login" %}
        {% slot body %}
            {% csrf_token %}
            {% element fields form=form unlabeled=True %}
            {% endelement %}
            {% if redirect_field_value %}
                <input type="hidden"
                       name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}" />
            {% endif %}
        {% endslot %}
        {% slot actions %}
            {% element button type="submit" tags="prominent,login" %}
                {% trans "Sign In" %}
            {% endelement %}
        {% endslot %}
    {% endelement %}

            </div>
            
        </div>
</div>    
</div>
{% endblock content %}
