{% extends "base.html" %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Sign Out" %}
{% endblock head_title %}
{% block content %}
<div class="flex my-3">
  <div class="w-1/6">
    <div class="bg-indigo-100 border border-indigo-400 rounded-none">
      <div class="p-4">
        <h3 class="text-lg font-semibold mb-3 text-blue-900">Sign out</h3>
        <p class="mb-4">Are you sure?</p>
        {% url 'account_logout' as action_url %}
        {% element form method="post" action=action_url no_visible_fields=True %}
        {% slot body %}
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden"
        name="{{ redirect_field_name }}"
        value="{{ redirect_field_value }}" />
        {% endif %}
        {% endslot %}
        {% slot actions %}
        <input class="blue-button bg-blue-900 text-white px-4 py-2 hover:bg-blue-700 cursor-pointer" type="submit" value="Yes">
        {% endslot %}
    {% endelement %}
      </div>
    </div>
  </div>    
</div>
{% endblock content %}