{% extends "base.html" %}
{% load i18n allauth account %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}
<div class="flex my-4">
    <div class="w-1/3">
    <div class="bg-indigo-100 border border-indigo-400">
        <div class="p-4">
            <h3 class="text-lg font-semibold mb-3 text-blue-900 my-2">Password Reset</h3>
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    {% url 'account_reset_password' as reset_url %}
    <div class="my-4">
    {% element form form=form method="post" action=reset_url class="allauth-form" %}
        {% slot body %}
            {% csrf_token %}
            {% element fields form=form %}
            {% endelement %}
        {% endslot %}
    </div>
        {% slot actions %}
        <input class="blue-button bg-blue-900 text-white px-4 py-2 mt-3 hover:bg-blue-700 cursor-pointer" type="submit" value="Reset Password">
        {% endslot %}
    {% endelement %}
</div>
</div>
</div>    
</div>
{% endblock content %}