{% extends "base.html" %}
{% load i18n %}
{% load allauth %}
{% load account %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}
<div class="flex my-3">
    <div class="w-1/2">
      <div class="bg-indigo-100 border border-indigo-400 rounded-none">
          <div class="p-4">
                  <h3 class="text-lg font-semibold mb-3 text-blue-900">Password reset</h3>
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p class="mb-3">
        {% blocktrans %}If the email provided is associated with an account, you'll receive an email with further instructions.{% endblocktrans %}
    </p>
          </div>
      </div>
    </div>
</div>
{% endblock content %}