{% extends "base.html" %}
{% load i18n allauth account %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}
<div class="row my-3">
    <div class="col-4">
    <div class="card bg-success-subtle border-primary"
    style="
    border-radius: 0;
    ">
        <div class="card-body">
            <h3 class = "card-title text-info-emphasis my-2">Password Reset</h3>
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    {% url 'account_reset_password' as reset_url %}
    <div class="card-text my-4">
    {% element form form=form method="post" action=reset_url %}
        {% slot body %}
            {% csrf_token %}
            {% element fields form=form %}
            {% endelement %}
        {% endslot %}
    </div>
        {% slot actions %}
        <input class="btn btn-primary my-2" type="submit" value="Reset Password">
        {% endslot %}
    {% endelement %}
</div>
</div>
</div>    
</div>
{% endblock content %}
