{% extends "base.html" %}
<!-- {% load allauth i18n %} -->
{% block head_title %}
    Sign up
{% endblock head_title %}
{% block content %}
<div class="flex my-4">
  <div class="w-1/2">
      <div class="bg-indigo-100 border border-indigo-400 rounded-none">
        <div class="p-4">
            <h3 class="text-lg font-semibold mb-3 text-blue-900">Sign up</h3>
            <p class="mb-4">
                Already have an account? <a href="{{ login_url }}" class="text-blue-700 hover:text-blue-800 underline">Sign in here</a>.
            </p>
            {% url 'account_signup' as action_url %}
            {% element form form=form method="post" action=action_url tags="entrance,signup" class="allauth-form" %}
    
    {{ form.non_field_errors | safe }}
  <input type="hidden" name="remember" value="true" />
  
        {% slot body %}
            {% csrf_token %}
            {% element fields form=form unlabeled=True %}
            {% endelement %}
            {% if redirect_field_value %}
                <input type="hidden"
                       name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}" />
            {% endif %}
        {% endslot %}
        {% slot actions %}
        <input class="bg-blue-900 text-white px-4 py-2 my-2 hover:bg-blue-700 cursor-pointer" type="submit" value="Sign up">
        {% endslot %}
    {% endelement %}
</div>
</div>
</div>    
</div>
{% endblock content %}