{% extends 'base.html' %}

{% block head_title %}Public Tunes{% endblock %}

{% block content %}
<style>
    /* Override DataTables styling */
    #public-table tbody {
        background-color: rgb(239 246 255); /* bg-blue-50 */
    }
    
    #public-table tbody tr:nth-child(even) {
        background-color: rgb(224 231 255); /* bg-indigo-100 */
    }
    
    #public-table tbody tr:hover {
        background-color: rgb(255 247 237); /* bg-orange-50 */
        transition: background-color 150ms;
    }

    #public-table {
        border-collapse: separate;
        border-spacing: 0;
    }

    #public-table tr:last-child td {
        border-bottom: none;
    }
</style>

<div class="my-4">
    <p>
        Here you can browse public tunes and copy them into your repertoire.
    </p>
</div>

<!-- Search Card -->
<div class="bg-indigo-100 border border-indigo-400 p-4 max-w-sm">
    <h5 class="text-lg font-semibold mb-3">Tune Search</h5>
    <form hx-get="{% url 'jazztunes:tune_browse' %}"
          hx-target="#table_count"
          hx-push-url=true
          hx-swap="outerHTML"
          hx-trigger="submit">
        <div class="mb-3 p-0.5">
            <label for="search_term" class="sr-only">Search</label>
            {{ search_form.search_term }}
        </div>
        <div>
            <input class="blue-button bg-blue-900 text-white px-4 py-2 hover:bg-blue-700 cursor-pointer" 
                   type="submit" 
                   value="Search">
        </div>
    </form>
</div>

<!-- Table -->
{% include "jazztunes/partials/_table_browse.html" %}


<script>
</script>
{% endblock %}
