{% extends 'base.html' %}

{% block head_title %}
{% if tune %}Edit{% else %}New{% endif %} tune
{% endblock %}

{% block content %}
<div class="flex my-6">
  <div class="w-full md:w-1/2">
    <h2 class="text-2xl font-semibold text-blue-900">{% if tune %}Editing <i>{{ tune.title }}</i>{% else %}New Tune{% endif %}</h2>
  </div>
</div>

<form method="post">
  <div class="flex flex-wrap -mx-2">
    {% csrf_token %}
    {% for field in tune_form %}
      <div class="w-full md:w-1/4 px-2 mb-4">
        <label class="block text-sm font-semibold text-gray-900 mb-1">{{ field.label }}</label>
        
        {% if field.field.choices %}
          <select name="{{ field.html_name }}" 
                  class="{{ field.field.widget.attrs.class }}"
                  {% if field.field.required %}required{% endif %}>
            <option value="">---------</option>
            {% for choice_value, choice_label in field.field.choices %}
              {% if choice_value %}
                <option value="{{ choice_value }}" {% if choice_value == field.value %}selected{% endif %}>{{ choice_label }}</option>
              {% endif %}
            {% endfor %}
          </select>
        {% else %}
          <input type="{{ field.field.widget.input_type|default:'text' }}" 
                 name="{{ field.html_name }}" 
                 value="{{ field.value|default:'' }}"
                 class="{{ field.field.widget.attrs.class }}"
                 {% if field.field.required %}required{% endif %}>
        {% endif %}
        
        {% if field.errors %}
          <div class="text-red-600 text-sm mt-1">
            {{ field.errors }}
          </div>
        {% endif %}
        {% if field.help_text %}
          <p class="text-gray-700 text-sm mt-1">{{ field.help_text|safe }}</p>
        {% else %}
          <div class="h-5"></div>
        {% endif %}
      </div>
      {% if forloop.counter|divisibleby:2 %}
        <div class="w-full md:w-1/2"></div>
      {% endif %}
    {% endfor %}
    
    {% for field in rep_form %}
      {% if field.name == "tags" %}
    </div>
    <div class="flex flex-wrap -mx-2">
        <div class="w-full md:w-1/2 px-2 mb-4">
          <p class="block text-sm font-semibold text-gray-900 mb-1">{{ field.label }}</p>
          {{ field }}
          {% if field.errors %}
            <div class="text-red-600 text-sm mt-1">
              {{ field.errors }}
            </div>
          {% endif %}
        </div>
      {% else %}
        <div class="w-full md:w-1/4 px-2 mb-4">
          <p class="block text-sm font-semibold text-gray-900 mb-1">{{ field.label }}</p>
          {{ field }}
          {% if field.errors %}
            <div class="text-red-600 text-sm mt-1">
              {{ field.errors }}
            </div>
          {% endif %}
          {% if field.help_text %}
            <p class="text-gray-500 text-sm mt-1">{{ field.help_text|safe }}</p>
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}
    
    <div class="w-full md:w-1/2"></div>
    <div class="w-full md:w-1/2 my-6 px-2">
      <input type="submit"
             id="add-button" 
             class="blue-button bg-blue-900 text-white px-4 py-2 hover:bg-blue-700 cursor-pointer" 
             value="{% if tune %}Save{% else %}Add{% endif %}" />
      {% if tune %}
      <button 
            hx-get="{% url 'jazztunes:tune_reset_plays_confirm' pk=tune.pk %}"
            hx-target="#modal-container"
            hx-swap="innerHTML"
            class="px-4 py-2 text-blue-900 bg-orange-200 hover:bg-orange-300 border border-blue-900 cursor-pointer">
              Reset plays
      </button>
      <div id="modal-container"></div>
      {% endif %}
    </div>
  </div>
</form>

{% endblock %}